@page
@model ErrorModel
@{
  ViewData["Title"] = "Error";
}

<h1>Something went wrong</h1>
<p>An unexpected error occurred. Please try again, or contact support if the problem persists.</p>

@if (Model.ShowRequestId)
{
  <p>
    If you contact support, please include this reference ID:<br />
    <code>@Model.RequestId</code>
  </p>
}
