@page
@model PrivacyModel
@{
  ViewData["Title"] = "Privacy Policy";
}

<div class="panel">
  <h1>@ViewData["Title"]</h1>
  <p class="mt-2 text-muted">Use this page to detail your site's privacy policy.</p>
</div>
